body {
    margin: auto;
    max-width: 45em;
    font-family: sans-serif;
    background: peachpuff;
}

.header {
    background: #e59866;
    border-radius: 25px;
    color: white;
    font-weight: lighter;
    font-size: 1.8em;
    padding: 2em;
}

ul li {
    display: inline-block;
    padding: 10px;
}

ul {
    margin: 0;
    display: block;
    color: #a04000;
    font-size: 1.2em;
    padding: 10px;
    border-style: groove;
    background-color: #e59866;
    border-color: #e59866;
    text-align: center;
}

h2 {
    margin: auto;
    color: #6e2c00;
    text-align: center;
}

.post {
    background: white;
    border-radius: 25px;
    border: 5px solid peachpuff;
    padding: 2em;
    text-align: center;
}

#navbar a {
    color: white;
}

a {
    color: #6e2c00;
}

a:visited {
    color: #6e2c00;
}