<!DOCTYPE html>
<link rel="stylesheet" href="static/new.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="shortcut icon" href="{{ url_for('static', filename='mansikka(1).ico') }}">

<body>
    <br>
    <div>
        <form action="/postforumcomment/{{ forumpost.id }}" method="post">
        Vastaa viestiin: <br>
        <textarea name="content" rows="6" cols="60"></textarea>
        <br>
        <input type="submit" value="Lähetä">
        </form>
        <br>
        <button onclick="history.back()">Palaa</button>
    </div>
</body>