<!DOCTYPE html>
<link rel="stylesheet" href="static/forum.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="shortcut icon" href="{{ url_for('static', filename='mansikka(1).ico') }}">

<body>
    <br>
    <div class="header">
        <h1>ELÄINYSTÄVIEN FOORUMI</h1>
    </div>
    <br>
    <br>
    <h2><b>
        {% if not session.user_id %}
        Kirjaudu sisään lähettääksesi viestejä
        {% endif %}
    </b></h2>
    <br>
    <nav>
        <ul>
            {% if session.user_id %}
            <li><a href="/newforumpost">Uusi viesti</a></li>
            {% else %}
            <li><a href="/login">Kirjaudu sisään</a></li>
            {% endif %}
            <li><a href="/">Palaa etusivulle</a></li>
            <br>
        </ul>
    </nav>
    <br>
    <br>
        {% for forumpost in forumposts %}
            <div class="post">
                {{ forumpost.username }} <br>
                <br>
                <div id="divlink">
                    <h2>
                        <a href="/forumpostdetails/{{ forumpost.id }}">{{ forumpost.headline }}</a><br>
                    </h2>
                </div>
                <br>
                {{ forumpost.sent.strftime("%Y-%m-%d") }} <br>
                <br>
                <div id="divlink">
                    {% if session.user_id and session.username == forumpost.username %}
                        <a href="/deleteforum/{{ forumpost.id }}">Poista</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
</body>