<!DOCTYPE html>
<link rel="stylesheet" href="static/forum.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="shortcut icon" href="{{ url_for('static', filename='mansikka(1).ico') }}">

<body>
    <br>
    <div class="header">
        <h2>ELÄINYSTÄVIEN FOORUMI</h2>
    </div>
    <br>
    <h2><b>
        {% if not session.user_id %}
        Kirjaudu sisään lähettääksesi viestejä
        {% endif %}
    </b></h2>
    <nav>
        <ul>
            {% if session.user_id %}
            <li><a href="/newforumpost">Uusi lanka</a></li>
            {% else %}
            <li><a href="/login">Kirjaudu sisään</a></li>
            {% endif %}
            <br>
        </ul>
    </nav>
    <br>
    <br>
        {% for post in posts %}
            <div class="post">
                Bongaaja: {{ post.username }} <br>
                Havaittu: {{ post.animals }} <br>
                Kaupungissa: {{ post.city }} <br>
                Kommentit: {{ post.comment }} <br>
                {{ post.timedate.strftime("%Y-%m-%d") }} <br>
                {% if session.user_id %}
                    <a href="/comment">Kommentoi</a>
                {% endif %}
                {% if session.user_id and session.username == post.username %}
                    <a href="/delete">Poista</a>
                {% endif %}
            </div>
        {% endfor %}
</body>