<!DOCTYPE html>
<link rel="stylesheet" href="static/index.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="shortcut icon" href="{{ url_for('static', filename='mansikka(1).ico') }}">

<body>
    <br>
    <div class="header">
        <h1>ELÄINYSTÄVÄT.APP</h1>
    </div>
    <br>
    <h2><b>
        Tervetuloa bongailemaan
        {% if session.user_id %}
        {{ username }}!
        {% else %}
        !
        {% endif %}
    </b></h2>
    <br>
    <div id="navbar">
        <ul>
            <li><a href="/search">Haku</a></li>
            {% if session.user_id %}
            <li><a href="/myprofile">Oma profiili</a></li>
            <li><a href="/logout">Kirjaudu ulos</a></li>
            <li><a href="/new">Ilmoita uusi havainto</a></li>
            {% else %}
            <li><a href="/login">Kirjaudu sisään</a></li>
            {% endif %}
            <li><a href="/forum">Foorumi</a></li>
            <br>
        </ul>
    </div>
    <br>
    <br>
    <br>
        {% for post in posts %}
            <div class="post">
                <h2>
                    <a href="/profile/{{ post.username }}">{{ post.username }} </a><br>
                </h2>
                <br>
                Havaittu: {{ post.animals }} <br>
                Kaupungissa: {{ post.city }} <br>
                {{ post.comment }} <br>
                {{ post.timedate.strftime("%Y-%m-%d") }} <br>
                <br>
                <br>
                {% if session.user_id %}
                    <a href="/comment/{{ post.id }}">Kommentoi</a>
                {% endif %}
                {% if session.user_id and session.username == post.username %}
                    <a href="/delete/{{ post.id }}">Poista</a>
                {% endif %}
                <br>
                <a href="/comments/{{ post.id }}">Katso kommentit</a>
            </div>
        {% endfor %}
</body>