<form action="/send" method="post">
Minkä eläimen näit?: <br>
<textarea name="animals" rows="3" cols="40"></textarea>
<br>
Missä kaupungissa?: <br>
<textarea name="city" rows="3" cols="40"></textarea>
<br>
Mikä oli havaintopäivä? (muodossa yyyy-mm-dd): <br>
<textarea name="timedate" rows="3" cols="40"></textarea>
<br>
Muuta kommentoitavaa ja tarkempi sijainti/aika (valinnainen): <br>
<textarea name="comment" rows="3" cols="40"></textarea>
<br>
<input type="submit" value="Lähetä">
</form>
<button onclick="history.back()">Palaa etusivulle</button>